@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Rubik+Glitch&display=swap');
:root {
	--primary-color: #F45B69;
	--secondary-color: #895B1E;
	--accent2-color: #F7D08A;
	--accent1-color: #E3F09B;
	--heading-font: 'IM Fell Double Pica SC', serif;
	--paragraph-font: 'Rubik Glitch', serif;
	--nav-background-color: #F7D09B;
	--nav-link-color: #E3F09B;
	--nav-hover-link-color: #E3F00F;
	--nav-hover-background-color: #895B1E;
}

body {
	font-family: var(--paragraph-font);
	max-width: 960px;
	padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	color: var(--primary-color);
}
header {
	padding: 20px;
	max-width: 920px;
	background-color: var(--accent1-color);
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
header img {
	margin: 0 auto;
	width: 300px;
	height: auto;
}

p {
	padding: 25px;
}

nav {
	background-color: var(--nav-background-color);
	font-size: 1.2rem;
	display: flex;
}

nav a {
	display: block;
	color: var(--nav-link-color);
	text-decoration: none;
	padding: 1rem;
	flex: 1 1 100%;
}

nav a:link, nav a:visited {
	color: var(--nav-link-color);
}

nav a:hover {
	color: var(--nav-hover-link-color);
	background-color: var(--nav-hover-background-color);
}
.hero div {
	position: relative;
}
#tart {
	display: block;
	width: 100%;
	height: auto;
}
.hero h1 {
	font-family: var(--heading-font);
	color: var(--primary-color);
	position: absolute;
	top: 150px;
	left: 400px;
}
.hero article {
	font-family: var(--paragraph-font);
	color: var(--secondary-color);
	background-color: var(--accent1-color);
	position: absolute;
	top: 250px;
	left: 100px;
	width: 800px;
	height: auto;
}
.hero article img {
	float: right;
	width: 30%;
	height: auto;
}
section h2 {
	text-align: center;
}
.history {
	display: grid;
	grid-template-columns: 1fr 30px 1fr;
}
.adventure {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 100px 1fr;
	justify-content: center;
}
.adventure img {
	width: 100px;
	height: auto;
}
.adventure h2 {
	grid-column-start: 1;
	grid-column-end: 6;
}
.sociallinks {
	height: 50px;
	float: right;
}
.sociallinks img {
	width: 20px;
	height: auto;
}
.info {
	padding: 0 0 60px 0;
}
.info iframe {
	float: left;
	width: 400px;
	height: 300px;
	padding: 0 30px;
}
#know {
	text-align: center;
	clear: both;
}
.figures figure {
	float: left;
}
.figures img {
	width: 150px;
	height: 130px;
}
#formback {
	width: 960px;
	height: 388px;
}
form {
	width: 420px;
	position: absolute;
	top: 783px;
	background-color: rgba(244, 91, 105, 0.8);
	padding: 0 0 0 10px;
	display: grid;
}
fieldset {
	display: grid;
}
#checkbox {
	font-size: .7em;
}
legend {
	font-size: 1.4em;
	font-family: var(--heading-font)
}