* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}
h1 {
    color: steelblue;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
main {
    margin: 0 auto;
    grid-column: 2/3;
}
aside {
    width: 20em;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside h2{
    position: absolute;
    left: 150px;
}
 aside img {
    width: 150px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {padding: 0;}
footer {
    margin-top: 3px;
    border-top: 12px;
    text-align: center;
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: darkmagenta;
    color: tan;
}